<section class="sidebar flex flex-col justify-between">
    <div>
        <h1 class="hover-scale">Fridger</h1>
        <h4>DISCOVER</h4>
        <ul class="sidebar-options">
            <li class="option" routerLink="/home" routerLinkActive="active">
                <svg
                    class="icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-house-door-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
                </svg>
                Home
            </li>
            <li class="option" routerLink="/recipes" routerLinkActive="active">
                <svg
                    class="icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
                Recipes
            </li>
            <li class="option" routerLink="/calendar" routerLinkActive="active">
                <svg
                    class="icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-calendar-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5z" />
                </svg>
                Calendar
            </li>
            <li class="option" routerLink="/groceries" routerLinkActive="active">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-basket2-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383L5.93 1.757zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1z" />
                </svg>
                Groceries
            </li>
            <li class="option" routerLink="/fridge" routerLinkActive="active">
                <mat-icon aria-hidden="false" aria-label="Example date icon" fontIcon="kitchen"></mat-icon>
                Fridge
            </li>
        </ul>
    </div>

    <button type="button" class="btn-primary flex items-center gap-2" [matMenuTriggerFor]="menu">
        <mat-icon aria-hidden="false" aria-label="person icon" fontIcon="person"></mat-icon> {{ credentials.sub }}
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item class="text-red-400" (click)="onLogOut()">
            <mat-icon color="warn" aria-hidden="false" aria-label="logout icon" fontIcon="logout"></mat-icon>Logout
        </button>
    </mat-menu>
</section>
