<mat-drawer-container class="main-wrapper">
    <!-- <div class="h-[100%] w-[15rem] bg-black"></div> -->
    <mat-drawer #drawer [mode]="sidenavMode">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <div
            [hidden]="drawer.mode === 'side'"
            class="fixed left-2 top-2 z-[9999999] cursor-pointer text-xl transition-all duration-300 hover:text-2xl"
            (click)="drawer.toggle()">
            <i class="bi bi-three-dots-vertical"></i>
        </div>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
