.left-section,
.right-section2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 50%;
  max-width: 50%;
  overflow: scroll;
  padding: 7rem 2rem 2rem 2rem;
}

.left-section .input {
  display: flex;
  flex-direction: column;
}

.left-section .input.image {
  width: 70%;
}

.left-section label,
.right-section2 label {
  color: var(--black);
  font-weight: 800;
  /* font-weight: bolder; */
}

.left-section input {
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  padding: 0.5rem;
  outline-color: transparent;
  border: 2px solid transparent;
  background-color: lightgray;
  border-radius: 0.5rem;
}

.left-section textarea {
  padding: 0.5rem;
  outline-color: transparent;
  border: 2px solid transparent;
  background-color: lightgray;
  border-radius: 0.5rem;
  height: 10rem;
}

.left-section input:focus,
.left-section textarea:focus {
  border: 2px solid black;
}

input.invalid,
textarea.invalid {
  border: 2px solid red !important;
}

.right-section2 .input {
  display: flex;
  flex-direction: column;
}

.right-section2 input {
  padding: 0.5rem;
  outline-color: transparent;
  border: 2px solid transparent;
  background-color: lightgray;
  border-radius: 0.5rem;
}

.right-section2 textarea {
  padding: 0.5rem;
  outline-color: transparent;
  border: 2px solid transparent;
  background-color: lightgray;
  border-radius: 0.5rem;
  height: 25rem;
}

.right-section2 input:focus,
.right-section2 textarea:focus {
  border: 2px solid black;
}

.right-section2 .ingredient {
  /* width: 80%; */
  margin-top: 1rem;
  gap: 3rem;
}

.right-section2 .ingredient .buttons {
  margin-top: 1.3rem;
}

.right-section2 .ingredient .buttons .button {
  width: 36px;
  height: 36px;
  // background-color: var(--pastel-green);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    scale: 1.2;
  }
}

.right-section2 .ingredient .buttons .button:not(:last-child) {
  background-color: var(--pastel-green);
  /* border-color: var(--pastel-green); */
  /* outline-color: transparent; */
  margin-right: 1rem;
}

.right-section2 .ingredient .buttons .button:last-child {
  background-color: rgb(223, 137, 137);
}

.tags.edit {
  justify-content: center;
}

.flex-box-raw {
  display: flex;
}

.flex-box {
  display: flex;
  justify-content: space-between;
}

.flex-box-vertical {
  display: flex;
  flex-direction: column;
}

.flex-box-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-input-wrapper {
  height: 20%;
}

.image-input-wrapper .image-box {
  border: 3px double var(--grey);
}

.recipe-ingredients {
  // background-color: var(--pastel-green);
  min-height: 17rem;
  max-height: 17rem;
  overflow-y: scroll;
  padding-right: 5rem;
  margin-bottom: 0;
}

/* width */
.recipe-ingredients::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.recipe-ingredients::-webkit-scrollbar-track {
  border-radius: 5rem;
  background: #f1f1f1;
}

/* Handle */
.recipe-ingredients::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background: #888;
}

/* Handle on hover */
.recipe-ingredients::-webkit-scrollbar-thumb:hover {
  background: #555;
}
