<main class="m-16">
    <div class="my-4">
        <div class="flex gap-2">
            @if (!editMode) {
            <button (click)="onAdd()" class="btn-primary">Add</button>
            <button (click)="editMode = !editMode" class="btn-primary">Edit</button>
            } @else {
            <button (click)="onSave()" class="btn-success">Save</button>
            <button (click)="editMode = false" class="btn-error">Cancel</button>
            }
        </div>
    </div>

    @for (type of ingredientsType; track $index) {
    <section class="w-full">
        @if (getIngredientsByType(type).length > 0) {
        <h3 class="border-b-4 text-left">{{ type }}</h3>
        <div class="my-4">
            <!-- @let ingredientsByType = getIngredientsByType(type); -->

            <table mat-table [dataSource]="getIngredientsByType(type)" class="mat-elevation-z0">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Ingredient</th>
                    <td mat-cell *matCellDef="let element">
                        @if (!editMode) {
                        {{ element.ingredient.name }}
                        } @else {
                        <mat-form-field class="p-2">
                            <input matInput [formControl]="getFormControl(element.id, 'ingredient.name')" />
                            @if (getFormControl(element.id, 'ingredient.name').hasError('required')) {
                            <mat-error>Ingredient is <strong>required</strong></mat-error>
                            }
                        </mat-form-field>
                        }
                    </td>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef>Quantity</th>
                    <td mat-cell *matCellDef="let element">
                        @if (!editMode) {
                        {{ element.quantity }}
                        } @else {
                        <mat-form-field>
                            <input matInput [formControl]="getFormControl(element.id, 'quantity')" />
                            @if (getFormControl(element.id, 'quantity').hasError('required')) {
                            <mat-error>Quantity is <strong>required</strong></mat-error>
                            }
                        </mat-form-field>
                        }
                    </td>
                </ng-container>

                <!-- Unit Column -->
                <ng-container matColumnDef="unit">
                    <th mat-header-cell *matHeaderCellDef>Unit</th>
                    <td mat-cell *matCellDef="let element">
                        @if (!editMode) {
                        {{ element.unit }}
                        } @else {
                        <mat-form-field>
                            <input matInput [formControl]="getFormControl(element.id, 'unit')" />
                            @if (getFormControl(element.id, 'unit').hasError('required')) {
                            <mat-error>Unit is <strong>required</strong></mat-error>
                            }
                        </mat-form-field>
                        }
                    </td>
                </ng-container>

                <!-- Expiration Date Column -->
                <ng-container matColumnDef="expiration-date">
                    <th mat-header-cell *matHeaderCellDef>Expiration Date</th>
                    <td mat-cell *matCellDef="let element">
                        @if (!editMode) {
                        {{ element.expirationDate }}
                        } @else {
                        <mat-form-field>
                            <input
                                matInput
                                [matDatepicker]="picker"
                                [formControl]="getFormControl(element.id, 'expirationDate')" />
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        }
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn-error" (click)="onDelete(element.id)"><i class="bi bi-trash"></i></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['name', 'quantity', 'unit', 'expiration-date', 'actions']"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: ['name', 'quantity', 'unit', 'expiration-date', 'actions']"></tr>
            </table>
        </div>
        }
    </section>
    }
    <!-- </form> -->
</main>
