@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-white: #f7ede7;
  --beige: #e6d0af;
  --pastel-pink: #ddaca7;
  --grey: #b5adba;
  --light-brown: #b48c6d;
  --brown: #5e3f2e;
  --black: #160e0a;
  --ginger: #c75a22;
  --pastel-green: rgb(193, 212, 163);
  --pastel-light-green: rgb(217, 238, 183);
  --pastel-pink: rgb(229, 189, 196);
  --pastel-orange: rgb(228, 194, 132);
  --pastel-yellow: rgb(234, 234, 160);
  --pastel-red: rgb(244, 117, 117);
}

/* TAILWIND CLASSES */
@layer components {
  .btn-primary {
    @apply h-7 rounded-lg bg-black px-4 text-base leading-[0px] text-white shadow-md transition-transform duration-300 hover:scale-125  disabled:bg-gray-600 disabled:hover:scale-100;
  }

  .btn-success {
    @apply h-7 rounded-lg bg-green-400 px-4 text-base leading-[0px] text-white shadow-md transition-all duration-300 hover:scale-125 hover:bg-green-500 disabled:bg-green-200 disabled:hover:scale-100;
  }

  .btn-error {
    @apply h-7 rounded-lg bg-red-400 px-4 text-base leading-[0px] text-white shadow-md transition-all duration-300 hover:scale-125 hover:bg-red-500  disabled:bg-red-200 disabled:hover:scale-100;
  }

  .grow {
    @apply duration-300 hover:scale-125;
  }
}

/* STYLE RESET */

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  // border: 1px solid black;
}

body {
  min-height: 100vh;
  /* height: 100vh; */
  /* height: 100dvh; */
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

// COMMON
.main-wrapper {
  height: 100vh;
  height: 100dvh;
  display: flex;
}

.logo {
  position: absolute;
  padding: 2rem;
  font-weight: bolder;
  transition: 0.2s;
}

.hover-scale:hover {
  scale: 1.2;

  * {
    color: var(--black);
  }
}

.logo a {
  color: var(--black);
  text-decoration: none;
}

.circle-image {
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100%;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  /* justify-content: space-between; */

  div {
    padding: 0.2em 1.2em;
    border-radius: 5em;

    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}

.tags div[color='pink'] {
  background-color: var(--pastel-pink);
  border-color: var(--pastel-pink);
}
.tags div[color='green'] {
  background-color: var(--pastel-green);
  border-color: var(--pastel-green);
}
.tags div[color='brown'] {
  background-color: var(--light-brown);
  border-color: var(--light-brown);
}
.tags div[color='light-green'] {
  background-color: var(--pastel-light-green);
  border-color: var(--pastel-light-green);
}

.flex-box-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.bg-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
