<!-- <p>recipes works!</p> -->

<!-- <main class="main-wrapper"> -->
<!-- <mat-drawer-container class="main-wrapper"> -->
<!-- <div class="h-[100%] w-[15rem] bg-black"></div> -->
<!-- <mat-drawer #drawer mode="over" closed>
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <button class="fixed left-2 top-2 z-[9999999]" mat-raised-button (click)="drawer.toggle()">
            Toggle drawer
        </button> -->
<app-recipes-list></app-recipes-list>
<!-- </mat-drawer-content>
</mat-drawer-container> -->
<!-- </main> -->
