<div class="light-shadow flex h-[5.5rem] justify-between rounded-[8px] p-2">
    <div class="flex flex-col justify-center">
        <h2 class="medium-text mb-2 w-72">Spaghetti carbonara with</h2>
        <p class="small-text mb-2 text-light-gray">5000 g</p>
        <div class="small-text flex items-center gap-2">
            <div class="small-text flex items-center gap-1 text-light-gray">
                <mat-icon class="medium-icon" [fontIcon]="Icon.PUBLISH"></mat-icon>
                12 Sep, 2024
            </div>

            <div class="h-1 w-1 rounded-full bg-light-gray"></div>

            <div class="small-text text-light-green flex items-center gap-1">
                <mat-icon class="medium-icon pt-[1px]" [fontIcon]="Icon.END_CALENDAR"></mat-icon>
                12 Sep, 2024
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-between">
        <mat-icon class="medium2-icon" [fontIcon]="Icon.MORE_HORIZ"></mat-icon>
        <mat-icon class="medium2-icon text-very-light-gray" [fontIcon]="Icon.LOCK_OPEN"></mat-icon>
    </div>
</div>
