<main class="p-8">
    <div class="upper-content">
        <div class="global-search">
            <input
                class="w-80 sm:w-[40rem]"
                type="text"
                name="global-search"
                id=""
                placeholder="Search groceries by date, ingredient and etc..."
                [formControl]="globalFilter"
                autocomplete="off" />
        </div>
    </div>

    <div class="main-content">
        <div class="title flex items-center">
            <h1>Your groceries</h1>
            <mat-icon
                (click)="onAddGroceries()"
                class="mb-2 transition-all hover:scale-125"
                aria-hidden="false"
                aria-label="Example add icon"
                [fontIcon]="'add_circle'"></mat-icon>
        </div>

        <app-list
            (onItemClickedEvent)="itemClicked($event)"
            [source]="getGlobalFilteredGroceries()"
            [circleInfoTemplate]="itemCount"></app-list>

        <ng-template #itemCount let-groceries>
            <div class="flex h-full w-full flex-col items-center justify-center bg-green-300">
                <div class="text-sm">items count:</div>
                <div class="text-7xl">{{ groceries.ingredients.length }}</div>
            </div>
        </ng-template>
    </div>
</main>
