.left-section {
  // width: 77%;
  //   margin: 8rem 5rem 1rem 5rem;
  font-size: larger;

  h1 {
    font-size: 4rem;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    // gap: 3rem;
    // width: 75%;

    .additional-info {
      .links {
        margin-top: 1em;

        a {
          /* display: inline-block; */
          display: flex;
          align-items: center;
          gap: 0.5em;
          text-decoration: none;
          color: red;

          i {
            color: red;
            font-size: larger;
            /* width: 1em;/ */
            /* height: em; */
          }
        }
      }
    }

    .description h4 {
      font-size: 2.5rem;
    }

    .instructions {
      h4 {
        font-size: 2.5rem;
        /* background-color: #B48C6D; */
        /* max-height: 19rem; */
        /* padding-right: 5rem; */
        /* overflow-y: scroll; */
      }

      p {
        max-height: 14rem;
        overflow-y: scroll;
        padding-right: 5rem;
        margin-bottom: 0;
        /* background-color: green; */
      }
    }
  }
}

// .left-section .content {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     gap: 3rem;
//     width: 75%;
// }

// .left-section h1 {
//     font-size: 4rem;
// }

// .tags {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 1em;
//     /* justify-content: space-between; */
// }

// .tags div {
//     padding: .2em 1.2em;
//     border-radius: 5em;
// }

.tags div[color='pink'] {
  background-color: var(--pastel-pink);
  border-color: var(--pastel-pink);
}
.tags div[color='green'] {
  background-color: var(--pastel-green);
  border-color: var(--pastel-green);
}
.tags div[color='brown'] {
  background-color: var(--light-brown);
  border-color: var(--light-brown);
}
.tags div[color='light-green'] {
  background-color: var(--pastel-light-green);
  border-color: var(--pastel-light-green);
}

// .tags div:not(:last-child) {
//     margin-right: 1em;
// }

// .left-section .additional-info .links {
//     margin-top: 1em;
// }

// .left-section .additional-info .links a {
//     /* display: inline-block; */
//     display: flex;
//     align-items: center;
//     gap: .5em;
// }
// .left-section .additional-info .links a svg {
//     color: red;
//     /* width: 1em;/ */
//     /* height: em; */
// }

// .left-section .description h4 {
//     font-size: 2.5rem;
//     /* background-color: #B48C6D; */
//     /* max-height: 19rem; */
//     /* padding-right: 5rem; */
//     /* overflow-y: scroll; */
// }

// .left-section .instructions h4 {
//     font-size: 2.5rem;
//     /* background-color: #B48C6D; */
//     /* max-height: 19rem; */
//     /* padding-right: 5rem; */
//     /* overflow-y: scroll; */
// }

// .left-section .instructions p {
//     max-height: 14rem;
//     overflow-y: scroll;
//     padding-right: 5rem;
//     margin-bottom: 0;
//     /* background-color: green; */
// }

/* width */
.left-section .instructions p::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.left-section .instructions p::-webkit-scrollbar-track {
  border-radius: 5rem;
  background: #f1f1f1;
}

/* Handle */
.left-section .instructions p::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background: #888;
}

/* Handle on hover */
.left-section .instructions p::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.left-section .image-box {
  height: 50%;
  position: absolute;
  inset: 10% 0px 0px 52%;
  /* width: 150px; */
  background-color: transparent !important;
}

.left-section .image-box > div {
  height: 100%;
  position: relative;
}

img ~ div .badge,
p-skeleton ~ div .badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  z-index: 9;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.badge.edit {
  // top: 0;
  // left: 3rem;
  background-color: var(--pastel-orange);
  z-index: 99;

  i {
    font-size: 28px;
  }
}

.badge.delete {
  // top: 3.9rem;
  z-index: 8 !important;
  background-color: var(--pastel-red);

  i {
    font-size: 28px;
  }
}

img ~ div .badge:hover {
  scale: 1.2;
  // z-index: 999 !important;
}

//   width: 23%;
// padding: 5rem;
//   margin: 1rem;
//   border-radius: 3rem;
// font-size: large;
//   color: var(--background-white);
//   background-color: var(--black);

h2 {
  // margin-top: 4rem;
  font-weight: bolder;
  text-align: center;
}

ul {
  // margin-top: 1.5em;
  // padding-left: 0;
  max-height: 75vh;
  overflow-y: scroll;

  li {
    display: flex;
    //   padding: 0.5em;

    div {
      width: 50%;

      &:first-child {
        margin-right: 0.5em;
        text-align: end;
      }

      &:last-child {
        margin-left: 0.5em;
      }
    }
  }
}

// .right-section h4 {
//     font-weight: bolder;
// }

// .right-section ul {
//     margin-top: 2em;
// }

// .right-section ul li {
//     padding: 1em;
// }
