<div class="grid grid-cols-1 grid-rows-1 gap-16 md:grid-cols-2 md:grid-rows-2 2xl:grid-cols-3 2xl:grid-rows-3">
    @if (isLoading) { @for (mock of [0, 1, 2, 3, 4, 5, 6, 7, 8]; track $index) {
    <div
        class="relative flex h-[150px] min-h-[150px] items-center justify-end overflow-visible transition-all duration-200 hover:scale-110"
        [ngStyle]="{ display: isLoading ? 'block' : 'none' }">
        <p-skeleton class="w-full" height="8rem" borderRadius="16px"></p-skeleton>
    </div>
    } } @else { @for (item of source; track $index) {
    <app-list-item (onItemClickedEvent)="onItemClickedEvent.emit($event)" [item]="item">
        <div class="h-full">
            <ng-container *ngTemplateOutlet="circleInfoTemplate; context: { $implicit: item }"></ng-container>
        </div>
        <section class="h-100 m-1 flex w-5">
            <ng-container *ngTemplateOutlet="rightCornerDataTemplate; context: { $implicit: item }"></ng-container>
        </section>
    </app-list-item>

    } }
</div>
