<form>
    <div class="flex">
        <h2 mat-dialog-title class="mb-2">Update ingredient</h2>
    </div>

    <mat-dialog-content class="!max-h-[70vh]">
        <app-dynamic-form flexDirection="vertical" #dynamicForm [fields]="fields" [buttons]="[]"></app-dynamic-form>
    </mat-dialog-content>
    <mat-dialog-actions class="!px-6">
        <button type="button" class="btn-error mr-4" (click)="onCancel()">Cancel</button>
        <button type="button" class="btn-success" [disabled]="dynamicForm.formGroup.invalid" (click)="onSave()">
            Save
        </button>
    </mat-dialog-actions>
</form>
