.name-box[color='green'] {
  background-color: var(--pastel-green);
}

.name-box[color='light-green'] {
  background-color: var(--pastel-light-green);
}

.name-box[color='brown'] {
  background-color: var(--light-brown);
}

.name-box[color='pink'] {
  background-color: var(--pastel-pink);
}

.name-box[color='orange'] {
  background-color: var(--pastel-orange);
}

.name-box[color='yellow'] {
  background-color: var(--pastel-yellow);
}
