<section class="recipes-list sm:p-14">
    <p-toast></p-toast>
    <div class="upper-content">
        <div class="global-search">
            <input
                class="w-80 sm:w-[40rem]"
                type="text"
                name="global-search"
                id=""
                [formControl]="globalFilter"
                placeholder="Search recipe by name, ingredient and etc..."
                autocomplete="off" />
        </div>
        <!-- <div class="options">
            <h3>Options</h3>
        </div> -->
    </div>
    <div class="main-content">
        <div class="title">
            <h1>Your recipes</h1>
            <!-- <a href="edit-recipe.html"> -->
            <button
                routerLink="/recipe-form"
                type="button"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Create recipe">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add_circle"></mat-icon>
            </button>
            <!-- </a> -->
            <div *ngIf="message" (click)="message = ''" class="alert alert-success" role="alert">
                {{ message }}
            </div>
        </div>
        <!-- <div
            class="recipes-list-wrapper grid grid-cols-1 grid-rows-1 gap-16 md:grid-cols-2 md:grid-rows-2 2xl:grid-cols-3 2xl:grid-rows-3"> -->
        <!-- Loading skeletons -->

        <app-list
            [source]="getGlobalFilteredRecipes()"
            (onItemClickedEvent)="recipeClicked($event)"
            [isLoading]="recipesLoading"
            [circleInfoTemplate]="foodImage"
            [rightCornerDataTemplate]="toggleStar">
        </app-list>

        <ng-template #foodImage let-recipe>
            <img
                class="flex flex-col items-center justify-center text-gray-500"
                [src]="recipe.imageUrl"
                alt="food-image" />
        </ng-template>

        <ng-template #toggleStar let-recipe="">
            <mat-icon
                [ngStyle]="{ color: recipe.favorite ? 'yellow' : 'white' }"
                (click)="toggleFavorite(recipe, $event)"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="star"></mat-icon>
        </ng-template>
    </div>
</section>
