<h1 mat-dialog-title>Add your planned recipe</h1>
<div mat-dialog-content>
    <!-- <p>What's your favorite animal?</p> -->
    <div appearance="fill">
        <form [formGroup]="eventForm" style="display: flex; flex-direction: column; gap: 0.5rem">
            <label for="date">Planned date</label>
            <input type="datetime-local" matInput formControlName="date" name="date" />
            <label for="recipeId">Recipe</label>
            <select formControlName="recipe">
                <option *ngFor="let recipe of recipes" [ngValue]="recipe">
                    {{ recipe.name }}
                </option>
            </select>
        </form>
    </div>
</div>
<div mat-dialog-actions>
    <button type="button" mat-button (click)="onNoClick()">No Thanks</button>
    <button type="submit" mat-button [mat-dialog-close]="eventForm.value" cdkFocusInitial>Ok</button>
</div>
