input,
select {
  padding: 0.5rem;
  outline-color: transparent;
  border: 2px solid transparent;
  background-color: lightgray;
  border-radius: 0.5rem;

  &:hover {
    border: 2px solid black;
  }
}
